@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Color: #2c3e57; biru */
/* Color: #f9f7f7; putih */

.navbar-1-4.navbar-dark .navbar-nav .nav-link {
  color: #525298;
}

.navbar-1-4 .bg-black {
  background-color: #1f1d2b;
}

.navbar-1-4 .btn-get-started {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: 500;
}

.navbar-1-4 .btn-get-started-purple {
  background-color: #525298;
  transition: 0.3s;
}

.navbar-1-4 .btn-get-started-purple:hover {
  background-color: #5353a8;
  transition: 0.3s;
}

.header-4-3 .modal-backdrop.show {
  background-color: #707092;
  opacity: 0.6;
}

.header-4-3 .modal-item.modal {
  top: 2rem;
}

.header-4-3 .navbar,
.header-4-3 .hero {
  padding: 3rem 2rem;
}

.header-4-3 .navbar-dark .navbar-nav .nav-link {
  font: 300 18px/1.5rem Poppins, sans-serif;
  color: #707092;
  transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-nav .nav-link:hover {
  font: 600 18px/1.5rem Poppins, sans-serif;
  color: #525298;
  transition: 0.3s;
}

.header-4-3 .navbar-dark .navbar-nav .active>.nav-link,
.header-4-3 .navbar-dark .navbar-nav .nav-link.active,
.header-4-3 .navbar-dark .navbar-nav .nav-link.show,
.header-4-3 .navbar-dark .navbar-nav .show>.nav-link {
  font-weight: 600;
  transition: 0.3s;
}

.navbar-dark .navbar-toggler {
  border-color: #f9f7f7;
  background-color: #2c3e57;
}

.header-4-3 .btn:focus,
.header-4-3 .btn:active {
  outline: none !important;
}

.header-4-3 .btn-fill {
  font: 600 18px / normal Poppins, sans-serif;
  background-color: #524EEE;
  border-radius: 12px;
  padding: 12px 32px;
  transition: 0.3s;
}

.header-4-3 .btn-fill:hover {
  --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 0.3s;
}

.header-4-3 .btn-no-fill {
  font: 300 18px/1.75rem Poppins, sans-serif;
  color: #E7E7E8;
  padding: 12px 32px;
  transition: 0.3s;
}

.header-4-3 .btn-no-fill:hover {
  color: #E7E7E8;
}

.header-4-3 .modal-item .modal-dialog .modal-content {
  border-radius: 8px;
  transition: 0.3s;
}

.header-4-3 .responsive li a {
  padding: 1rem;
  transition: 0.3s;
}

.header-4-3 .left-column {
  margin-bottom: 2.75rem;
  width: 100%;
}

.header-4-3 .text-caption {
  font: 600 0.875rem/1.625 Poppins, sans-serif;
  margin-bottom: 2rem;
  color: #FB6262;
}

.header-4-3 .title-text-big {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  margin-bottom: 2rem;
  color: #CBCBD2;
  text-align: left;
}

.header-4-3 .btn-try {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #524EEE;
  transition: 0.3s;
}

.header-4-3 .btn-try:hover {
  --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition: 0.3s;
}

.header-4-3 .btn-outline {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  border: 1px solid #707092;
  color: #707092;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: transparent;
  transition: 0.3s;
}

.header-4-3 .btn-outline:hover {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  transition: 0.3s;
}

.header-4-3 .btn-outline:hover div path {
  fill: #FFFFFF;
  transition: 0.3s;
}

.header-4-3 .right-column {
  width: 100%;
}

@media (max-width: 576px) {
  .header-4-3 .modal-item .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
  }

  .header-4-3 .navbar {
    padding: 3rem 2rem;
  }

  .header-4-3 .hero {
    padding: 3rem 2rem 5rem;
  }

  .header-4-3 .title-text-big {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .header-4-3 .navbar {
    padding: 3rem 4rem;
  }

  .header-4-3 .hero {
    padding: 3rem 4rem 5rem;
  }

  .header-4-3 .left-column {
    margin-bottom: 3rem;
  }
}

@media (min-width: 992px) {
  .header-4-3 .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .header-4-3 .navbar {
    padding: 3rem 6rem;
  }

  .header-4-3 .hero {
    padding: 3rem 6rem 5rem;
  }

  .header-4-3 .left-column {
    width: 50%;
    margin-bottom: 0;
  }

  .header-4-3 .title-text-big {
    font-size: 3.75rem;
    line-height: 1.2;
  }

  .header-4-3 .right-column {
    width: 50%;
  }
}

.content-2-3 .btn:focus,
.content-2-3 .btn:active {
  outline: none !important;
}

.content-2-3 .title-text {
  padding-top: 5rem;
  margin-bottom: 3rem;
}

.content-2-3 .text-title {
  font: 600 2.25rem/2.5rem Poppins, sans-serif;
  margin-bottom: 0.625rem;
}

.content-2-3 .text-caption {
  color: #707092;
  font-weight: 300;
}

.content-2-3 .column {
  padding: 2rem 2.25rem;
}

.content-2-3 .icon {
  margin-bottom: 1.5rem;
}

.content-2-3 .icon-title {
  font: 500 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 0.625rem;
}

.content-2-3 .icon-caption {
  font: 400 1rem/1.625 Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #707092;
}

.content-2-3 .card {
  padding: 1.75rem;
  background-color: #292952;
  border-radius: 0.75rem;
  border: 1px solid #4c4c6d;
}

.content-2-3 .card-block {
  padding: 1rem 1rem 5rem;
}

.content-2-3 .card-title {
  font: 600 1.5rem/2rem Poppins, sans-serif;
  margin-bottom: 0.625rem;
}

.content-2-3 .card-caption {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  color: #707092;
  letter-spacing: 0.025em;
  margin-bottom: 0;
}

.content-2-3 .btn-card {
  font: 700 1rem/1.5rem Poppins, sans-serif;
  background-color: #524eee;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.75rem;
  margin-bottom: 1.25rem;
  border: none;
}

.content-2-3 .btn-card:hover {
  --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.content-2-3 .btn-outline {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  color: #f9f7f7;
  border: 1px solid #f9f7f7;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  border-radius: 0.75rem;
}

.content-2-3 .btn-outline:hover {
  border: 1px solid #57578e;
  background-color: #57578e;
  color: #f9f7f7;
}

.content-2-3 .card-text {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.content-2-3 .grid-padding {
  padding: 0rem 1rem 3rem;
}

@media (min-width: 576px) {
  .content-2-3 .grid-padding {
    padding: 0rem 2rem 3rem;
  }

  .content-2-3 .card-block {
    padding: 3rem 2rem 5rem;
  }
}

@media (min-width: 768px) {
  .content-2-3 .grid-padding {
    padding: 0rem 4rem 3rem;
  }

  .content-2-3 .card-block {
    padding: 3rem 4rem 5rem;
  }
}

@media (min-width: 992px) {
  .content-2-3 .grid-padding {
    padding: 1rem 6rem 3rem;
  }

  .content-2-3 .card-block {
    padding: 3rem 6rem 5rem;
  }

  .content-2-3 .column {
    padding: 0rem 2.25rem;
  }
}

@media (min-width: 1200px) {
  .content-2-3 .grid-padding {
    padding: 1rem 10rem 3rem;
  }

  .content-2-3 .card-block {
    padding: 3rem 6rem 5rem;
  }

  .content-2-3 .card-btn-space {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .content-2-3 .btn-outline,
  .content-2-3 .btn-card {
    width: 95%;
    float: right;
  }
}

@media (max-width: 980px) {
  .content-2-3 .card-btn-space {
    width: 100%;
  }
}


.content-3-7 .btn:focus,
.content-3-7 .btn:active {
  outline: none !important;
}

.content-3-7 {
  padding: 5rem 2rem 7rem;
}

.content-3-7 .title-text {
  font: 800 1.875rem/2.25rem Poppins, sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
  color: #2e3a53;
}

.content-3-7 .caption-text {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  color: #8e8fad;
  margin-bottom: 0;
}

.content-3-7 .card-item {
  transition: 0.4s;
  top: 0px;
  left: 0px;
  padding: 1rem 0;
}

.content-3-7 .card-item:hover {
  top: -3px;
  left: -3px;
  transition: 0.4s;
}

.content-3-7 .card-item-outline {
  border: 1px solid #e5ebf9;
  padding: 2rem 2.75rem;
  border-radius: 1rem;
}

.content-3-7 .price-title {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  color: #141c2e;
  letter-spacing: 0.025em;
  margin-bottom: 0.75rem;
}

.content-3-7 .price-value {
  font: 500 2.25rem/2.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  margin-bottom: 0.75rem;
  color: #2e3a53;
}

.content-3-7 .price-duration {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  margin: 0.625rem;
  color: #9e9e9e;
}

.content-3-7 .price-caption {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  letter-spacing: 0.025em;
  margin-bottom: 2.5rem;
  color: #c3c3c8;
}

.content-3-7 .price-list .check {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #2e3a53;
  letter-spacing: 0.025em;
  margin-bottom: 1.75rem;
}

.content-3-7 .price-list .no-check {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #e1e1e1;
  letter-spacing: 0.025em;
  margin-bottom: 1.75rem;
}

.content-3-7 .span-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

.content-3-7 .btn-outline {
  border: 1px solid #2e3a53;
  color: #2e3a53;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-radius: 0.5rem;
}

.content-3-7 .btn-outline:hover {
  background-color: #2e3a53;
  color: #ffffff;
}

.content-3-7 .btn-fill {
  background-color: #f9f7f7;
  color: #2e3a53;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-radius: 0.5rem;
}

.content-3-7 .btn-fill:hover {
  background-color: #bbaf8d;
  color: #f9f7f7;
}

@media (min-width: 576px) {
  .content-3-7 .title-text {
    font: 800 2.25rem/2.5rem Poppins, sans-serif;
  }

  .content-3-7 .card-item {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .content-3-7 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 992px) {
  .content-3-7 .caption-text {
    width: 66.666667%;
  }

  .content-3-7 .card-item {
    width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .content-3-7 {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

* {
    font-family: 'Poppins', 'Inter', sans-serif !important;
}

body .left-circle img {
    z-index: 0;
    margin-top: -250px;
    position: absolute;
}

body .client {
    background-color: #000909;
    padding: 50px 30px;
}

@media only screen and (min-width: 768px) {
    body .client {
        padding-top: 140px;
        padding-bottom: 100px;
    }
}

body .client h1 {
    font-weight: 700;
    font-size: 30px;
    color: #EEEEEE;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .client h1 {
        font-size: 48px !important;
    }
}

body .client .merriweather {
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 100% !important;
    z-index: 1;
}

body .client .review {
    color: #EEEEEE;
    line-height: 150%;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    z-index: 1;
}

body .client h5 {
    font-weight: 600;
    font-size: 28px;
    color: #EEEEEE;
    z-index: 1;
}

body .client .company {
    font-weight: 400;
    font-size: 20px;
    color: #666666;
    z-index: 1;
}

body .client .client-img img {
    width: 108px;
    height: 60px;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .client .review-section {
        padding-top: 116px;
    }
}

body .cl-light {
    color: #EEEEEE;
}

body .cl-light-grey-2 {
    color: #90BCB7;
}

body .font-lora {
    font-family: 'Lora', sans-serif !important;
}

        
* {
    font-family: 'Poppins', 'Inter', sans-serif !important;
}

body .right-circle img {
    z-index: 0;
    margin-top: -250px;
    position: absolute;
}

body .porto {
    background-color: #000909;
    padding: 50px 30px;
}

@media only screen and (min-width: 768px) {
    body .porto {
        padding-top: 140px;
        padding-bottom: 100px;
    }
}

body .porto .headline {
    font-size: 40px;
    font-weight: 600;
    color: #EEEEEE;
    z-index: 1;
}

body .porto .link {
    font-size: 24px;
    font-weight: 600;
    color: #EEEEEE;
    z-index: 1;
}

body .porto .sub-headline {
    padding-top: 28px;
    font-size: 16px;
    font-weight: 400;
    color: #888888;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .porto .sub-headline {
        font-size: 24px;
    }
}

body .porto .porto-img {
    margin-top: 45px;
}

body .porto .porto-img div {
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .porto .porto-img {
        margin-top: 96px;
    }
}

body .porto .porto-img-full {
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    body .porto .porto-img-full {
        width: 100px !important;
    }
}

body .porto .porto-img-half {
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    body .porto .porto-img-half {
        height: 70px !important;
    }
}

body .cl-light {
    color: #EEEEEE;
}

body .cl-light-grey-2 {
    color: #90BCB7;
}

body .font-lora {
    font-family: 'Lora', sans-serif !important;
}
